:root {
  font-size: 16px;
}

@media (max-width: 500px) {
  :root {
    font-size: 14px;
  }
}

.demo-wrapper img {
  width: 100%;
  height: auto;
  background: #f0f0f0;
  display: block;
}

.demo-wrapper ul {
  padding-left: 1rem;
  list-style: none;
}

.demo-wrapper li {
  flex-shrink: 0;
  width: clamp(500px, 60vw, 800px);
  padding-right: 1rem;
}

.demo-wrapper :any-link {
  color: #4e9815;
}

.demo-wrapper .df {
  display: flex;
}

.demo-wrapper .aic {
  align-items: center;
}

.demo-wrapper .jcc {
  justify-content: center;
}

.demo-wrapper .loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  color: white;
  z-index: 1000;
}

.loader h1 {
  font-size: 5rem;
}

.loader h2 {
  font-size: 2rem;
}

.demo-wrapper {
  overflow-x: hidden;
}

.demo-wrapper header {
  height: 100vh;
}

.demo-wrapper footer {
  height: 50vh;
}

.demo-wrapper header h1,
.demo-wrapper h1 {
  font-size: 5rem;
}

.demo-wrapper header h2,
.demo-wrapper h2 {
  font-size: 2rem;
}

.wrapper {
  display: flex;
}

.demo-gallery:not(.last) {
  padding-bottom: 1rem;
}

.demo-text .text {
  font-size: clamp(8rem, 15vw, 16rem);
  line-height: 1;
  font-weight: 900;
}

.demo-wrapper footer {
  background: #f5f5f5;
}

.demo-wrapper footer p {
  font-size: 1.25rem;
}

.demo-wrapper footer a {
  text-decoration: none;
  font-weight: 600;
}

.demo-wrapper footer a:hover {
  text-decoration: underline;
}
